body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
}

.App {
  display:flex;
  flex-direction: row;
}

.RecipeList {
  display: block;
  width: 50%;
}

.RecipePane {
  display: block;
  width: 50%;
}
