body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
}

p {
  color: green;
  float: right;
  display: inline;
}

.RecipeList {
  float: left;
  display: inline;
  width: 50%;
}
