<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<!-- Configuration for an in-memory HSQLDB -->
	<session-factory>
		<property name="hibernate.archive.autodetection">class,hbm</property>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- SQL Dialect -->
		<property name = "hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
	    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
	    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=GrubLub;</property>
	    <property name="hibernate.connection.username">sa</property>
	    <property name="hibernate.connection.password">daarWASeenseenmeisjel00s</property>
		
		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<mapping class="com.grublub.model.Recipe" />
	</session-factory>
	
</hibernate-configuration>


